
/*division page*/

.container_v {
    position: relative;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.page_body {
    flex: 2;
    overflow: auto;
}

.container_h {
    display: flex;
    flex-flow: row;
}

div {
    display: block;
}

/*text*/
h1 {color: #2f97ca;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	font-family: "Roboto Condensed";

}

h2 {color: black;
	font-size: 15px;
	font-weight: bold;
	font-family: "Roboto Condensed";

}



/*images*/
img{
	height: 50px;
    display: inline-block;
}

/*panel left*/
#tool_panel {
    padding: 20px;
    border-right: solid 2px #CCCCCC;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
}

.left_panel {
    min-width: 350px;
}

tr {
    display: table-row;
    vertical-align: left;
    border-color: inherit;
}

#headertable {
    width: 400px;
}

.toplabel {
    font-size: 10px;
    color: #2f97ca;
    text-align: center;
}
.cr2header a {
    color: #2f97ca;
}

